[Desktop Entry]
Type=Application
Name=Ports Info
Comment=Network port information viewer
Icon=io.github.mfat.portsinfo
Exec=ports-info
Terminal=false
Categories=Network;Utility;
Keywords=network;ports;networking;system;
StartupNotify=true 