# debian/control
Source: portmonitor
Section: utils
Priority: optional
Maintainer: mFat <newmfat@gmail.com>
Build-Depends: debhelper-compat (= 13),
               python3-all,
               dh-python,
               python3-setuptools,
               python3-gi,
               python3-psutil,
               libadwaita-1-dev,
               meson
Standards-Version: 4.5.1
Homepage: https://github.com/mfat/portsmonitor

Package: portmonitor
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-gi,
         python3-psutil,
         libadwaita-1-0,
         gir1.2-gtk-4.0,
         gir1.2-adw-1
Description: Network Port Monitor and Manager
 A GTK application for monitoring and managing network ports.
 Features include:
  * List all open network ports
  * Show process information for each port
  * Stop processes
  * Search functionality
